 body{
    margin: 0;
    background-color: aqua;
 }
 
.todo-container{
     
    width: 100vh;
     margin: auto;
     margin-top: 30px;
     text-align: center;
      align-items: center;
}
h1{
    margin: 0;
    margin-bottom: 15px;
    color: #ababab;
}
.input-section{
    background-color: #ececec;
     padding: 15px;
     border-radius: 10px;
     padding-top: 50px;
    margin-bottom: 20px;
}
.input-section input{
    border-radius: 5px;
    border: 1px solid silver;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 10px;
}
input::placeholder{
    color: silver;
}
ul{
    text-align: left;
    padding: 0;
}
li{
    display: flex;
}
ul li i{
    text-align: right;
    flex: 1;
    cursor: pointer;
}
ul li{
    list-style: none;
     background-color: aliceblue;
     padding: 15px;
     border-radius: 5px;
     margin-bottom: 10px;
     color: gray;
}